/build/
/bin/
target/

.DS_Store

*.class
.classpath
.project

# Package Files #
*.jar
*.war
*.ear

# Intellij
.idea/
*.iml
*.iws

# shade-plugin ignore extra pom file
drm-core/dependency-reduced-pom.xml
/.metadata/
urm-core/.settings/
urm-maven/.settings/
